/* CardForm.css */
.cardForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px;
  gap: 15px;
}

.cardForm > * {
  width: 100%;
}

form p {
  color: #525252;
  font-size: 12px;
  font-weight: 500;
  font-family: Roboto;
  margin-bottom: 8px;
}

input {
  background-color: #ecebf1;
  border: none;
  width: 100%;
  height: 45px;
  padding: 12px;
  border-radius: 7px;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
