.subject {
  text-align: left;
  padding: 16px;
}

.subject > h1 {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 8px;
}

.subject > p {
  font-size: 16px;
  font-weight: 400;
  /* margin-bottom: 12px; */
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  /* padding: 10px; */
  justify-items: center;
  align-items: center;
  margin: 16px;
  height: 832px;
  /* max-height: 100vh; */
  overflow-y: auto;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.products-list::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
