.product-card {
  display: flex;
  flex-direction: column;
  width: 182px;
  /* height: 247px; */
  box-sizing: border-box;
  /* border: 1px solid #f2f2f2; */
  border-radius: 15px;

  overflow: hidden;
  justify-content: center;
  flex-wrap: wrap;
}

/* overflow: hidden과 object-fit: cover를 사용하는 경우, 부모 컨테이너가 크기를 정확히 지정해야만 자식 이미지가 적절히 잘려서 표시됌 */

.product-image-div {
  width: 100%;
  height: 112px;
  position: relative; /* 요소 자기 자신을 기준으로 배치  */
  overflow: hidden;
  background-position: center;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  /* padding-left: 16px; */
  /* padding: 17px; */
}

.productName {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 4px;
}

.productDescription {
  font-size: 13px;
  margin-bottom: 7px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 8px;
  color: #7c7a7a;
  width: 10rem;
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.productPrice {
  font-weight: 800;
  font-size: 12px;
  margin-bottom: 12px;
}

.buttonDiv {
  display: flex;
  gap: 8px;
}

.button {
  background-color: black;
  color: white;
  width: 43px;
  height: 21px;
  /* padding: 5px; */
  border-radius: 10px;
  cursor: pointer;
  font-size: 10px;
}

.button .added {
  background-color: cadetblue;
}
