/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  border: none;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 100px;
}

main {
  margin-top: 32px; /* 헤더 높이만큼 여백 */
  padding: 16px;
}
