@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');
/* @font-face {
  font-family: Montserrat;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');
} */

html,
body {
  margin: 0px;
  width: 100%;
  background-color: rgb(246, 246, 246);
}

#root {
  background-color: white;
  max-width: 430px;
  width: 100%;
  /* min-height: 100vh; */
  height: 1000px;
  /* height: 100%; */
  margin: 0 auto;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
}

body * {
  font-family: 'Montserrat';
}
