@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');
/* @font-face {
  font-family: Montserrat;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  border: none;
}

html,
body {
  margin: 0px;
  width: 100%;
  background-color: rgb(177, 170, 170);
  /* width: 100vh; */
  /* height: 1000px; */
  max-height: 100vh;
  /* position: fixed; */
  /* overflow: hidden; */
}

#root {
  max-width: 412px;
  height: 932px;
  /* max-height: 100vh; */
  /* width: 100%;s */
  /* min-height: 100vh; */
  /* height: 100%; */
  /* height: 100%; */
  overflow: hidden;
  margin: 0 auto;
  overflow-x: hidden;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
  background-color: white;
}

body * {
  font-family: 'Montserrat';
}
